<div class="grid place-content-center  gap-y-4" id="form-container">
    <h3>We Map Front End</h3>
    <div class="grid">
        <form class="grid grid-row-3 w-96 gap-y-2">
            <input placeholder="Enter Email" type="email" id="my-indent" class="shadow-md  placeholder-green-500 rounded py-2"/>
            <input placeholder="Password" type="password" id="my-indent" class="shadow-md  placeholder-green-500 rounded py-2"/>
            <button class="rounded shadow py-3 bg-green-700 text-white">Log In</button>
        </form>
        <p class=" w-96 py-1">Forgot password?</p>
        <hr class="w-96 py-1"/>
        <a routerLink="/register">
            <div class="grid place-items-center p-3 rounded bg-red-700 text-white">Create new account</div>
        </a>
    </div>
</div>
